node_modules/**
src/**
test/**
unit/**
out/**
out-unit/**
.vscode/**
.vscode-test.mjs
.prettierignore
.prettierrc.json
eslint.config.mjs
Justfile
tsconfig.json
tsconfig.test.json
tsconfig.unit.json
*.map
